.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__container {
  margin-top: 8rem;
  width: 30vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px #444;
  border-radius: 10px;
  
}

#inputs__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}